body {
  min-height: 100vh;
}
main {
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
.scrollarea {
  overflow-y: auto;
}
.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  background-color: transparent;
}
.btn-toggle:hover {
  background-color: #eee;
}